body {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
}

#image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('frontend.jpg');
    background-position: right;
}

.about {
    color: rgb(184, 253, 238);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

.photo {
    width: 170px;
    height: 170px;
}

#cv-content {
    width: 50%;
    background-image: url('cv-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: -10px;
}

.notes {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 30%;
    /* https://icebreakerideas.com/trick-questions/ */
}

.note {
    background-image: url('texture.jpg');
    border-radius: 20px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(78, 99, 90);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 35px;
}

/* .note:hover {
    transform: translate(0, -5%);
    transition: 0.7s; 
    cursor: pointer;
} */

.close {
    margin-left: 700px;
    color: #aaaaaa;
    font-size: 28px;
	font-weight: bold;
	padding-top: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal {
	position: absolute;
    display: none;
	justify-content: center; 
    align-items: center;    
    flex-direction: column;                                                                                                           
    width: 50%; 
    height: 100%; 
	background-color: rgb(73, 75, 73); 
    background-color: rgba(73, 75, 73, 0.8); 
    z-index: 1; 
    right: 0;
    top: 0;
}

.display {
    display: flex;
}

.question {
	display: flex;
    align-items: center;  
    flex-direction: column;   
    width: 80%; 
    height: 150px; 
    background-color: rgb(84, 97, 95);
	border-radius: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: rgb(184, 253, 238);
	font-size: 25px;
}

#save {
	margin-bottom: 20px;
	background-color: rgb(7, 155, 130);
	color: white;
	border-radius: 10%;
    border: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 17px;
}

#answer-input {
    border-radius: 3%;
    border: none;
    font-size: 20px;
}

#answer-input::placeholder {
	color: rgb(174, 192, 188);
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: rgb(212, 243, 237);
}

#incorrect {
    font-size: 15px;
    color: red;
}

.correct {
    position: absolute;
    z-index: 1; 
    right: 0;
    top: 0;
    width: 50%; 
    height: 100%; 
    background-image: url('cv-2.jpg');
}